html {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-color: #f7f7f7; }
  html * {
    margin: 0; }

body {
  line-height: 1; }

.flex-container {
  display: flex;
  flex-wrap: wrap; }
  .flex-container > div {
    flex: 0 1 auto; }
  .flex-container--last-item-push-right > div:last-child {
    margin-left: auto; }
  .flex-container--align-centered {
    align-items: center;
    justify-content: center; }
  .flex-container--vertical-align {
    align-items: center; }
  .flex-container--align-right {
    justify-content: flex-end; }
  .flex-container--menu-bar > div {
    flex: 1; }
  .flex-container--menu-bar > div:first-child {
    flex: 0 1 231px; }

header {
  height: 38px;
  background-color: #d10000;
  color: #fff;
  padding: 0 0 0 15px; }
  header img {
    height: 1.6rem; }
  header .brand-logo {
    padding-right: 25px;
    position: relative; }
    header .brand-logo::after {
      content: '|';
      font-size: 1.5rem;
      position: absolute;
      right: 0rem;
      top: -0.1rem; }
  header .header-navbar {
    font-size: 0.8rem; }
    header .header-navbar .header-logout {
      height: 38px; }
      header .header-navbar .header-logout img {
        height: 0.858rem;
        color: #fff;
        filter: invert(100%) sepia(7%) saturate(7466%) hue-rotate(181deg) brightness(105%) contrast(106%);
        transition-duration: .4s;
        transition-property: height; }
      header .header-navbar .header-logout:hover img {
        height: .958rem; }
    header .header-navbar .header-user .user-icon {
      background-color: #fff;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      color: #666666;
      font-size: 0.7rem;
      margin-right: 10px; }
    header .header-navbar .header-lang, header .header-navbar .header-logout, header .header-navbar .header-user {
      padding: 0 15px;
      position: relative;
      min-width: 40px;
      text-align: center; }
      header .header-navbar .header-lang p, header .header-navbar .header-logout p, header .header-navbar .header-user p {
        display: inline-block; }
    header .header-navbar .header-lang::before, header .header-navbar .header-logout::before {
      content: '|';
      font-size: 1.5rem;
      position: absolute;
      left: 0rem;
      top: -0.5rem; }

.main-container .menu-bar {
  background-color: #f6270c;
  min-height: calc(100vh - 38px);
  position: relative; }
  .main-container .menu-bar > img {
    position: absolute;
    bottom: 0; }
  .main-container .menu-bar__title {
    padding: 105px 20px 20px; }
    .main-container .menu-bar__title p {
      margin-bottom: 15px; }
    .main-container .menu-bar__title h1 {
      font-weight: 300;
      line-height: 1; }
  .main-container .menu-bar__nav {
    position: relative; }
    .main-container .menu-bar__nav > ul {
      list-style: none;
      padding-left: 0px;
      margin-top: 53px; }
      .main-container .menu-bar__nav > ul li {
        border-left: 4px solid transparent;
        height: 50px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        transition-duration: .4s;
        transition-property: border-color, background-color; }
        .main-container .menu-bar__nav > ul li.selected {
          background-color: rgba(255, 82, 82, 0.5);
          font-weight: bold;
          border-color: #fff; }
          .main-container .menu-bar__nav > ul li.selected a {
            font-size: 1.2rem; }
          .main-container .menu-bar__nav > ul li.selected:hover {
            background-color: rgba(255, 82, 82, 0.5); }
        .main-container .menu-bar__nav > ul li:hover {
          background-color: rgba(255, 97, 97, 0.2); }
        .main-container .menu-bar__nav > ul li a {
          font-size: .9rem;
          text-decoration: none;
          color: inherit; }
.main-container .page-container__tabs {
  flex: 0 1 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  height: 75px; }
.main-container .page-container__page {
  flex: 1;
  background-color: #f7f7f7;
  padding: 10px;
  display: block; }
.main-container .page-container__info {
  flex: 0 1 260px;
  background-color: #fff;
  height: calc(100vh - 0px); }

.box-container .box {
  color: #707070;
  background-color: #f7f7f7;
  border-radius: 6px;
  border-bottom: 2px solid transparent;
  border: none; }
.page-container__tabs .box-container {
  margin: 0 10px;
  flex: 0 1 14%; }
  .page-container__tabs .box-container .box {
    padding: 0 10px;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 6px;
    transition-duration: .4s;
    transition-property: color, border-color, background-color; }
    .page-container__tabs .box-container .box div {
      padding: 5px; }
    .page-container__tabs .box-container .box .title-box {
      font-size: 0.9rem;
      color: #333; }
    .page-container__tabs .box-container .box img {
      height: 1.2rem; }
  .page-container__tabs .box-container:hover .box {
    background-color: #ff3838; }
    .page-container__tabs .box-container:hover .box .title-box {
      color: #fff; }
    .page-container__tabs .box-container:hover .box img {
      filter: invert(100%) sepia(7%) saturate(7466%) hue-rotate(181deg) brightness(105%) contrast(106%); }
  .page-container__tabs .box-container.selected .box {
    background-color: #ff0505; }
    .page-container__tabs .box-container.selected .box .title-box {
      color: #fff; }
    .page-container__tabs .box-container.selected .box img {
      filter: invert(100%) sepia(7%) saturate(7466%) hue-rotate(181deg) brightness(105%) contrast(106%); }
.page-container__page .box-container {
  flex: 0 1 33.333%; }
  .page-container__page .box-container .box {
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
    margin: 10px;
    border-bottom: 2px solid #fff;
    transition-duration: .4s;
    transition-property: border-color; }
    .page-container__page .box-container .box .title-box {
      padding-left: 15px;
      font-weight: bold;
      font-size: 0.9rem;
      color: #333;
      line-height: 1.5;
      transition-duration: .4s;
      transition-property: color; }
    .page-container__page .box-container .box .text-box {
      padding-top: 15px;
      font-size: 0.7rem;
      color: #333;
      line-height: 1.5; }
    .page-container__page .box-container .box .icon-box {
      padding: 10px 12px;
      background-color: #ff0505;
      border-radius: 6px; }
      .page-container__page .box-container .box .icon-box img {
        height: 1.2rem;
        filter: invert(100%) sepia(7%) saturate(7466%) hue-rotate(181deg) brightness(105%) contrast(106%); }
    .page-container__page .box-container .box:hover {
      border-color: #ff3838; }
      .page-container__page .box-container .box:hover .title-box {
        color: #ff3838; }
    .page-container__page .box-container .box.selected {
      border-color: #ff0505; }
      .page-container__page .box-container .box.selected .title-box {
        color: #ff0505; }
.page-container__info .box-container {
  flex: 100%; }
  .page-container__info .box-container .box {
    background-color: #f7f7f7;
    border-radius: 6px;
    padding: 24px 15px;
    margin: 10px;
    border-left: 3px solid #fff;
    transition-duration: .4s;
    transition-property: border-color; }
    .page-container__info .box-container .box .title-box {
      padding-left: 15px;
      font-weight: bold;
      font-size: 0.9rem;
      color: #333;
      line-height: 1.5;
      transition-duration: .4s;
      transition-property: color; }
    .page-container__info .box-container .box .data-box {
      background-color: #ff0505;
      color: #fff;
      font-size: 0.8rem;
      padding: 2px; }
    .page-container__info .box-container .box img {
      height: 1.3rem; }
    .page-container__info .box-container .box:hover {
      border-color: #ff3838; }
      .page-container__info .box-container .box:hover .title-box {
        color: #ff3838; }
    .page-container__info .box-container .box.selected {
      border-color: #ff0505; }
      .page-container__info .box-container .box.selected .title-box {
        color: #ff0505; }
.box-container__border-tab {
  border-bottom: 2px solid transparent;
  display: none; }
.page-container__tabs .box-container {
  padding: 10px;
  background-color: #fff; }

.container-dropdown .sub.menu-dropdown {
  padding: 0; }
.container-dropdown ul {
  list-style: none;
  /* Remove list bullets */
  padding: 0;
  margin: 0; }

@media screen and (max-width: 1100px) {
  .main-container .page-container__tabs,
  .main-container .page-container__page,
  .main-container .page-container__info {
    flex: 0 1 100%; } }
@media screen and (max-width: 768px) {
  html {
    font-size: 6px; } }
@media screen and (min-width: 769px) and (max-width: 1099px) {
  html {
    font-size: 8px; } }
@media screen and (min-width: 1100px) and (max-width: 1366px) {
  html {
    font-size: 10px; } }
.main-container .page-container__page {
  background-color: lightpink; }

@media screen and (min-width: 600px) and (max-width: 768px) {
  .main-container .page-container__page {
    background-color: #f7e181; } }
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .main-container .page-container__page {
    background-color: lightgreen; } }
@media screen and (min-width: 1100px) and (max-width: 1366px) {
  .main-container .page-container__page {
    background-color: lightblue; } }

/*# sourceMappingURL=styles.css.map */
